<!doctype html>
<html lang="{{'locale' | i18n}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="Description" content="{{ description }}">
    {% include "pwa.njk" %}
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {{ content | safe }}
    <script src="../site/_assets/entry.js"></script>
  </body>
</html>