<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="../site/_assets/main.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      {{ content | safe }}
    </div>
    <script src="../site/_assets/main.js"></script>
  </body>
</html>