---
layout: layouts/base.njk
title: "{{'notFound' | i18n}}"
description: "{{'notFound' | i18n}}"
---

<h1>{{'notFound' | i18n}}</h1>

<p>{{'backTo' | i18n}}: <a href="{{ '/' | url | urlFix }}">{{'homepage' | i18n}}</a></p>
